<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label.background</key>
	<string>0xFFFF99</string>
	<key>label.text</key>
	<string>0xFF0066</string>
	<key>colorBtn.title.highlighted</key>
	<string>0x0000FF</string>
</dict>
</plist>
